<li>
	{{name}}

	{{#if eat}}<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		EAT!
	</button>{{/if}}

	{{#unless eat}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>{{/unless}}
</li>
